/* .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.heading {
    font-weight: 700;
    font-size: 28px;
    font-family:'Futura,sans-serif' ;
    color: #141414;
    margin-bottom: 10px;
    font-style: normal;
}
.input_div{
    display: flex;
    flex-direction: column;
    width: 420px;
    margin-top: 20px;
}

.input{
   box-sizing: border-box;
   width:'100%';
   line-height: '';
   height: 48px;
   border: solid;
   border-width: 1px;
   padding-left: 10px;
}
.button{
    margin-right: 308px;
    margin-top: 20px;
    background-color:#cd4d1e;
    border: solid;
    border-width: 1px;
    width: 110.25px;
    height: 43px;
    color: white;
    
}
.button:hover{
    background-color: #141414;
    
} */